.json-view-renderer tr:nth-child(even) {
  background-color: rgb(255, 245, 245)
}

.json-view-renderer tr:nth-child(odd) {
  background-color: white
}

.distinct-value-table .p-datatable-tbody > tr:nth-child(even) {
  background-color: rgb(245, 245, 255)
}

.distinct-value-table .p-datatable-tbody > tr:nth-child(odd) {
  background-color: white
}

.distinct-value-table .p-datatable-tbody > tr {
  padding: 0.3rem 0
}

.button-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center
}

.button-opacity {
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out
}

.button-opacity:hover {
  opacity: 1
}

.node-indentation {
  padding-left: 20px
}

.node-indentation.clickable {
  cursor: pointer
}

.scalar-container {
  display: flex;
  align-items: center
}

.object-toggle,
.array-toggle {
  cursor: default
}

.object-toggle.clickable,
.array-toggle.clickable {
  cursor: pointer
}

.object-toggle-icon,
.array-toggle-icon {
  display: flex;
  align-items: center
}

.progress-spinner {
  width: 1.5em;
  height: 1.5em
}

.show-distinct-values-button {
  padding: 0.2em;
  height: 1.5em;
  line-height: 1.5em
}

.distinct-values-dialog {
  width: 50vw
}

.scalar-string {
  color: rgb(221, 0, 169)
}

.scalar-number {
  color: rgb(5, 139, 0)
}

.scalar-boolean {
  color: rgb(5,127,205)
}

.scalar-object {
  color: rgb(128, 128, 128)
}

.bg-blue-200 {
  background-color: #bbdefb
}

.column-header-icon {
  background-color: transparent;
  border-radius: 4px;
  padding: 2px
}

.column-header-icon:hover {
  background-color: #f0f0f0
}
